body {
    background-color: #252839;
    color: white;
}

.container {
    max-width: 700px;
}

img {
    width: 100%;
    max-width: 350px;
    border-radius: 2px;
    transition: transform .2s;
}

.inline-icon {
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

.instructions li {
    line-height: 25px;
}

@media(hover: hover) {
    img:hover {
        transform: scale(1.2);
    }
}

.android {
    width: 49%;
    max-width: 300px;
    display: inline-block;
    border: 1px solid;
}

.android.placeholder {
    border: none;
}

.chrome-ext {
    overflow: hidden;
}

.img-container {
    text-align: center;
}