<div class="container test">
    <h3>Thank you for using Squid!</h3>
    <p>The app icon was provided by 
        <a href="http://game-icons.net">http://game-icons.net</a>
        under the
        <a href="https://creativecommons.org/licenses/by/3.0/us/">Creative Commons 3.0 BY license</a>.
    </p>

    <p>Other icons were provided by
        <a href="https://google.github.io/material-design-icons/">Google Material Design</a>
        under the
        <a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License Version 2.0</a>.
    </p>
</div>