<div class="container">
    <h4>From Chrome</h4>
    <p>To send the current tab's webpage to another device.</p>
    <ol class="instructions">
        <li>Click on the Squid extension <img class="inline-icon" src="../../public/squid/images/squid-head.svg"/></li>
        <li>Select the device</li>
        <li>Enjoy!</li>
    </ol>

    <div class="img-container">
        <img src="../../public/squid/chrome/instructions.png"/>
    </div>

    <hr/>
    
    <h4>From Android</h4>
    <p>To send the current content to other device.</p>
    <ol class="instructions">
        <li>Use the share action <span class="material-icons inline-icon">share</span></li>
        <li>Select the Squid app <img class="inline-icon" src="../../public/squid/images/squid-head.svg"/></li>
        <li>Select the device</li>
        <li>Enjoy!</li>
    </ol>
    <div class="img-container">
        <img src="../../public/squid/android/step1.jpg" class="android"/>
        <img src="../../public/squid/android/step2.jpg" class="android"/>
        <img src="../../public/squid/android/step3.jpg" class="android"/>
        <img class="android placeholder"/>
    </div>
</div>