<div class="container test">
    <div class="img-container">
        <h1>Congratulations!</h1>

        <div>
        <img class="tilted" src="../../public/squid/images/squid-head.svg"/>
        </div>
        <div class="material-icons thumb-up tilted">thumb_up</div>

        <h2>You're good to go.</h2>
    </div>
</div>